doctype html
html(lang="en")
  head
    title Alex's Awesome Flashcard Website
    link(rel="stylesheet", href="styles/normalize.min.css")
    link(rel="stylesheet", href="styles/styles.css")
  body
    header
      h1.title
        span  Alex's Awesome 
        span Flashcard Website
      if cards
        a.profile-link(title="Your Profile", href="/profile")
          img.profile-icon(src="img/profile-icon.png", alt="")
      else if profile
        a.cards-link(title="Flip Some Flashcards", href="/cards")
          img.card-icon(src="img/cards-icon.png", alt="")
    main
      block content
    script(src="")